@CHARSET "UTF-8";

.table-authors {
	font-family: fantasy;
	background-color: aqua;
	border: medium;
}

.all {
	height: auto;
}

.login {
	height: 600px;
	width: 600px;
	margin: 100px;
}

.addUser {
	height: 250px;
	width: 600px;
	margin: 100px;
}

#background {
	background-color: gray;
	height: 600px;
	width: 800px;
}

#playMusicButton {
	background-color: #101010;
	padding-top: 0px;
}

#searchBlock {
	padding-left: 30px;
}

.home {
	background-color: #540F1C;
}

.navbar {
	margin-bottom: 0px;
}

#imgProduct {
	background-size: 100% auto;
	display: inline-block;
}

.row {
	margin-top: 30px;
}

.product-image>img {
	height: 100%;
	width: 100%;
}

.list-group {
	width: 300px;
}

#afc {
	color: white;
	width: 100px;
	padding-top: 6px;
}

#logout {
	padding-top: 0px;
	padding-bottom: 3px;
}

#login {
	padding-top: 10px;
}

.userBasketImage {
	width: 100%;
	height: 100%;
}

.prodAdm {
	padding-left: 60px;
	padding-right: 40%;
}

.footer {
	background-color: black;
}

#bodyHome {
	margin-top: -32px;
	background-color: #cac8c8;
}

#header {
	margin-bottom: -20px;
}

#footer {
	margin-bottom: 0px;
	background-color: black;
	border-color: black;
	background-color: black;
	border-bottom-width: 32px;
}

.footerPhone {
	margin-left: 36px;
	text-align-last: 10px;
	float: inherit;
}

.footerPhone>p {
	color: gray;
}

#allProductForm {
	background-color: #d6d6d6;
}

#glyphiconBasket {
	background-color: #332323;
	color: #3a3636;
	border-color: #332323;
	padding: 0px;
}

.myBTN {
	color: white;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
	background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
	background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i,
	.social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i,
	.social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i
	{
	color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.a {
	background-color: #D3D3D3;
}